@import "../../styles/variables";

.passGenerator-container {
    padding: 12px 64px 64px;
    border-radius: $boder-radius;

    .img {
        width: 140px;
    }

    .title {
        text-align: center;
        margin-bottom: 24px;

        h3 {
            margin-top: 12px;
            font-weight: 600;
        }
        p {
            font-size: 1.2rem;
            margin-top: 6px;
        }
    }

    .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;

        .form-group {
            flex-grow: 1;
            position: relative;

            .input {
                border-radius: $boder-radius;
                font-weight: 700;
                box-shadow: unset;
                padding-right: 50px;
                border: 1px solid $black-color;
            }
            
            
            .btn-reset {
                position: absolute;
                top: 5px;
                right: 10px;
                font-weight: 600;
                cursor: pointer;
    
                &:hover {
                    color: $primary-color;
                }
            }
        }

        
        
        .btn-copy {
            margin-left: 12px;
            border-radius: $boder-radius;
            background-color: $primary-color;
            border: none;

            &:hover {
                box-shadow:  2px 2px 6px $primary-color;
            }

            &:active {
                box-shadow:  0px 0px 6px $primary-color;
            }
        }

    }
    .noti-message {
        margin-top: 6px;
        font-size: 1.2rem;
        font-weight: 600;


        &.weak {
            color: $red-color;
        }
        &.medium {
            color: $orange-color;
        }
        &.strong {
            color: $green-color;
        }

    }

    .slider {
        margin: 16px 0;
        
        .title-slider {
            font-size: 1.2rem;
            margin: 34px 0 12px;
        }
    }

    .list-check {
        margin-top: 46px;

    }
}

